@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    @apply h-full w-full;
}

div#app {
    @apply h-full w-full;
}



/* emulate bootstrap card */
.card {
    @apply border rounded-md bg-white overflow-hidden border-black/20 shadow-sm hover:shadow-lg;
}

.card-body {
    @apply p-4;
}

.card-title {
    @apply text-xl font-bold mb-2;
}

.card-text {
    @apply mb-4;
}

.card-img-top {
    @apply object-cover;
}

.btn {
    @apply text-white bg-[#0d6efd] hover:bg-[#0B5ED7] rounded-md px-3 py-1;
}


